@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
  position: absolute;
  height: 50px;
}


.containerNav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  font-size: 1.15vw;
  padding: 14px;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  word-wrap: normal;
}
.containerNav  ul li {
  list-style: none;
  display: inline;
  margin: 0 50px;
  font-size: 1.15vw;;
  position: relative;
}
.containerNav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.mainFoto {
  width: 100%;
  height: 30%;
}

.AboutCompany {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.start p {
  padding: 40px 0 0 0;
  width: 100%;
  min-height: 100px;
  text-align: center;
  font-size: 4.1vw;

  font-family: "Montserrat", sans-serif;
}
body h2 {
  padding-left: 18%;
  font-size:3.1vw;
  font-weight: normal;
}
body h2:after {
  content: "";
  position: absolute;
  height: 7%;
  width: 0.4%;
  background: rgb(136, 138, 125);

  left: 17%;
}
.AboutCompany p {
  padding-top: 2.5%;
  padding-left: 6.1%;
  padding-right: 3%;
  width: 40%;
  font-size: 1.5vw;
  text-indent: 3ch;
  font-family: "Montserrat", sans-serif;
}
.AboutCompany div img {

  display: flex;
  border-radius: 25px;
  height: 90%;
  
 
}
body {
  background: url("image/fon.jpg");
  
}

.services {
  display: flex;
  justify-content: center;
  padding: 3% 17%;
  flex-direction: column;
  align-items: center;
}
details {
  display: flex;
  width: 60%;
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  font-size: 1.5vw;
}
details img {
  width: 60%;
  height: 60%;
  padding: 0 20%;
  border-radius: 20px;
}
summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
.Project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}
.box {
  display: flex;
  height: 700px;
  width: 1300px;
  gap: 1rem;
}
.bg1 {
  background: url(image/compProj.JPG);
}
.bg2 {
  background: url(image/compProj5.PNG);
}
.bg3 {
  background: url(image/compProj3.jpg);
}
.bg4 {
  background: url(image/compProj2.JPG);
}
.bg5 {
  background: url(image/compProj4.jpg);
}

.box > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.box > div:hover {
  flex: 5;
}
footer {
  margin: 2% 0 0 0;
  display: flex;
  background-color: rgb(82, 82, 82);
  height: 100%;
  width: 100%;
  padding: 0 0 0;
  flex-direction: column-reverse;
}
.footer p {
  font-size: 1.1vw;
  width: 100%;
 text-align: center;
}
.footer {
  display: flex;
  width: 100%;
}
.Contact{
  display: flex;
  justify-content: center;
  padding: 10% ;
}
.contacts img{
  width:90%;
  height:100%;
  border-radius: 10px;
}
.contacts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section{
 
  flex-wrap: wrap;
}
.customs{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap:20% ;
}
.footer{
  text-align: center;
}
.customs strong{
  margin-left: 8%;
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
}
.dataCustoms p {
  font-size: 1.4vw;
  margin-left: 8% 0 0 8%;
  font-family: "Montserrat", sans-serif;
}
.dataCustoms ul li{
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  font-size: 1.3vw;
}
.footerNav{
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footerNav nav ul li {
  list-style: none;
  display: inline-block;
  justify-content: center;
  margin: 0 20px;
  font-size: 1.5vw;
  position: relative;
}
.footerNav nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.footer{
  display:flex;
}



@media screen and (max-width:768px){
  body h2::after{
    height: 20px;
  }
  .logo{
    padding: 3%;
    font-size: 7px;
    width: 100%;
  }
  .AboutCompany img{
    width: 400px;
    height: 500px;
  }
  .box{
    width: 500px;
    height: 300px;
  }
  .footer p{
    width: 100%;
    text-align: start;
    padding-top: 40px;
  }
.dataCustoms p{
      text-align: center;
      padding-top: 8%;
      font-size: 3vw;
      padding-left: 3%;
    }
    .dataCustoms ul li{
      font-size: 2vw;
    margin-left: 8px;
    
    }
    .customs strong{
      padding-top: 3%;
      padding-left: 3%;
      font-size: 4.5vw;
      text-align: center;
      margin: 0;
    }
  details{
    width: 70%;
    font-size: 2vw;
  }
  .start p {
    margin: 0;
    padding: 10% 0 0 0;
   
  }
  .AboutCompany p {
    width: 70%;
    font-size: 2vw;
  }
  .footerNav nav ul li{
    font-size: 10px;
    

  }
  .footerNav ul{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width:320px)  {
 html,body{
  padding: 0;
  margin: 0;
  width: 100%;
 }
 body h2::after{
  height: 12px;
}
body h2{
  padding-top: 10px;
}
.footer{
  height: 50%;
}

.box{
  width: 500px;
  height: 200px;
}
 .AboutCompany img{
  width: 70%;
  margin-left: 16%;
 }
 
 .logo{
  font-size: 2.6vw;
 display: flex;
 padding-left: 50px;
 text-align: center;
 justify-content: center;
 }
 .containerNav ul li{
display: none;
 }
 details{
  width: 80%;
  font-size: 2.5vw;
}
.dataCustoms p{
  text-align: center;
  padding-top: 8%;
  font-size: 3vw;
  padding-left: 3%;
}
.dataCustoms ul li{
  font-size: 2vw;
margin-left: 8px;

}
.customs strong{
  padding-top: 3%;
  padding-left: 3%;
  font-size: 4.5vw;
  text-align: center;
  margin: 0;
}
.footerNav ul{
  display: flex;
  flex-direction: row;
  padding: 3px 0 3px 0;
}
.footerNav nav ul li{
  
  padding: 0;
  margin:6px 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
} 
.footerNav nav{
  flex-direction: row;
  display: flex;
  margin: 0;
  height: 30px;
  padding: 0;
  margin: 0;
}
.footer p {
  margin-bottom: 5px;
  align-items: center;
  text-align: center;
  font-size: 6px;
  margin:5;
  padding: 0;
}
.start p{
  font-size: 4.1vw;
}
footer{
  height: 25px;
}
.start {
  max-height: 70px;
}
.footerNav nav ul li {
  list-style: none;
  display: inline-block;
  justify-content: center;
  margin: 0 20px;
  font-size: 10px;
  position: relative;
}

}

@media screen and (max-width:375px)  {
  html,body{
   padding: 0;
   margin: 0;
   width: 100%;
  }
  body h2{
    padding-top: 10px;
  }
  body h2::after{
   height: 10px;
 }
 
 .box{
   width: 500px;
   height: 200px;
 }
  .AboutCompany img{
   width: 70%;
   margin-left: 16%;
  }
  
  .logo{
   font-size: 2.6vw;
  display: flex;
  padding-left: 50px;
  text-align: center;
  justify-content: center;
  }
 
  details{
   width: 80%;
   font-size: 2.5vw;
 }
 .dataCustoms p{
  text-align: center;
  padding-top: 8%;
  font-size: 3vw;
  padding-left: 3%;
}
.dataCustoms ul li{
  font-size: 2vw;
margin-left: 8px;

}
.customs strong{
  padding-top: 3%;
  padding-left: 3%;
  font-size: 4.5vw;
  text-align: center;
  margin: 0;
}
 .footerNav ul{
   display: flex;
   flex-direction: row;
   padding: 3px 0 3px 0;
 }
 .footerNav nav ul li{
   font-size: 3.7px;
   padding: 0;
   margin:6px 8px;
   width: 40px;
   display: flex;
 } 
 .footerNav nav{
   
   display: flex;
   margin: 0;
   height: 30px;
   padding: 0;
   margin: 0;
 }
 .footer p {
   margin-bottom: 5px;
   align-items: center;
   text-align: center;
   margin:5;
   padding: 0;
 }
 .start p{
   height: 10px;
   font-size: 2.5vw;
 }
 footer{
   height: 25px;
 }
 .start{
   max-height: 70px;
 }
 .start p{
   max-height: 4.1vw;
 }
 .menu-btn{
   display: flex;
 }



 }

 @media screen and (max-width:425px)  {
  html,body{
   padding: 0;
   margin: 0;
   width: 100%;
  }
  body h2{
    padding-top: 3%;
  }
  body h2::after{
   height: 16px;
 }
 
 .box{
   width: 500px;
   height: 200px;
 }
  .AboutCompany img{
   width: 70%;
   margin-left: 16%;
  }
  
  .logo{
   font-size: 2.6vw;
  display: flex;
  padding-left: 50px;
  text-align: center;
  justify-content: center;
  }
  .containerNav ul li{
 display: none;
  }
  details{
   width: 80%;
   font-size: 2.5vw;
 }
 .dataCustoms p{
  text-align: center;
  padding-top: 8%;
  font-size: 3vw;
  padding-left: 3%;
}
.dataCustoms ul li{
  font-size: 2vw;
margin-left: 8px;

}
.customs strong{
  padding-top: 3%;
  padding-left: 3%;
  font-size: 4.5vw;
  text-align: center;
  margin: 0;
}
 .footerNav ul{
   display: flex;
   flex-direction: row;
   padding: 3px 0 3px 0;
 }
 .footerNav nav ul li{
   font-size: 1.1vw;
   padding: 0;
   margin:6px 8px;
   width: 40px;
   display: flex;
 } 
 .footerNav nav{
   
   display: flex;
   margin: 0;
   height: 30px;
   padding: 0;
   margin: 0;
 }
 .footer p {
   margin-bottom: 5px;
   align-items: center;
   text-align: center;
   margin:5;
   padding: 0;
 }
 .start p{
   height: 10px;
   font-size: 4.1vw;
 }
 footer{
   height: 25px;
 }
 .start{
   max-height: 70px;
 }
 .start p{
   max-height: 4.1vw;
 }

 }
 
 